@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Bookings.ca</h1>
    <br></br>
    <br></br>
    <br></br>
    <h2>Bookings.ca is a website created for all your booking needs! Book your Flights, Car rentals and Hotels all in one place!</h2>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    
</div>
